<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <script >
        function getformaction(action){
            let form=document.getElementById("auth-form")
            if (action === "login"){
                form.action="{{url_for('login')}}";
                form.method="post"
                form.submit()
            }else if (action=="register"){
                form.action="{{url_for('register')}}"
                form.method="post"
                form.submit()
            }
}</script>
    <title>Flask authentication</title>
</head>
<body>
    <header>Helo</header>
    {% block body%}

    {% endblock %}
</body>
</html>